.thumb { width : 50px;}

.name { font-weight: bold;}

.price {
	text-align: right;
}

.error {
	color: red;
	font-style: italic;
}


.thumb { width : 50px;}

.name { font-weight: bold;}

.price {
	text-align: right;
}


.error {
	color: red;
	font-style: italic;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: auto;
		right: auto;
    top: 0;
    width: 500px;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 500px;
}
