<html>
	<head>
		<title>Stuffies</title>
	</head>
	<body>
		<form action="/create" method="post">
			<p>Title</p>
		  <input type="text" name="title">
		  <br>
			<p>Body</p>
		  <input type="text" name="body">
			<br>
		  <input type="submit">
		</form>

	</body>
</html>
