<html>
	<head>
		<link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="styles.css" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

		<title>Stuffies</title>
	</head>
	<body>
		<div class = "jumbotron">
			<h1>Create new posts below</h1>
		</div>
		<div class ="container">
		<form action="/create" method="post">
			Title
			<br>
		  <input type="text" name="title" id="titlebox">
			<br>
			Body
			<br>
		  <input type="text" name="body" id ="textbox">
			<br>
		  <input type="submit">
		</form>
	</div>
	</body>
</html>
