<html>
  <head>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="styles.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <title>Success!</title>
  </head>

  <body>
    <div class = "jumbotron">

      <h1>You successfully posted!</h1>
    </div>
    <div class ="container">
      <p class ="info"><a href="/redirect">Return to posts page<a/></p>
    </div>

  </body>

</html>
